<%-  include("partials/header.ejs") %>
<div class="page" id="title">
    <h1>Welcome to My Website</h1>
</div>
<div class="page" id="about">
<%-  include("about.ejs") %>
</div>
<div class="page" id="blog">
    <%-  include("blog.ejs") %>    
</div>
<div class="page" id="projects">
    <%-  include("projects.ejs") %>    
</div>
</main>
<%- include("partials/footer.ejs") %>
</body>
</html>