<%- include("partials/header.ejs") %>
    <div class="page" id="first">
        <%- include("title.ejs") %>
    </div>
    <div class="page" id="second">
        <%- include("about.ejs") %>
    </div>
    <div class="page" id="third">
        <%- include("blog.ejs") %>
    </div>
    <div class="page" id="fourth">
        <%- include("projects.ejs") %>
    </div>
    </main>
    <%- include("partials/footer.ejs") %>
</body>
</html>